* {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    transition: .3s;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--Bright-Blue);
    border-radius: 5px;
}

/* Handle on hover */

/* Variables */
:root {
    /* Primary */
    --Bright-Blue: #3a7bfd;
    --Check-Background: linear-gradient(#57ddff, #c058f3);
    /* Light Theme */
    --light-App-Background: hsl(236, 33%, 92%);
    --light-List-Background: white;
    --light-Button-Border: hsl(236, 33%, 92%);
    --light-Done-And-Border-and-filter: hsl(233, 11%, 84%);
    --light-Placeholder-Color: hsl(236, 9%, 61%);
    --light-Todo-Font-Color: hsl(235, 19%, 35%);
    --light-Filter-hover: hsl(235, 19%, 35%);
    /* Dark Theme */
    --dark-App-Background: hsl(235, 21%, 11%);
    --dark-List-Background: hsl(235, 24%, 19%);
    --dark-Todo-Font-Color: hsl(234, 39%, 85%);
    --dark-Filter-hover: hsl(236, 33%, 92%);
    --dark-Placeholder-Color: hsl(233, 14%, 35%);
    --dark-Done-And-Border-and-filter: hsl(237, 14%, 26%);
}

/* special button styling */
.the-button {
    padding: 2px;
    background-image: transparent;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    transition: background-image 1s;
    position: relative;
}

body .the-button::before,
body.dark .the-button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 300ms;
    border-radius: 50%;
}

body .the-button::before {
    background-image: linear-gradient(hsl(236, 33%, 92%), hsl(236, 33%, 92%));
}

body.dark .the-button::before {
    background-image: linear-gradient(hsl(237, 14%, 26%), hsl(237, 14%, 26%));
}

body .the-button:hover {
    background-image: linear-gradient(#57ddff, #c058f3);
    transition: .3s;
}

body .the-button:hover::before {
    opacity: 0;
}

body .the-button.active::before {
    opacity: 0;
}

/*  */
.the-button button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--light-List-Background);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.the-button button.active {
    background-image: var(--Check-Background);
}

.the-button.active {
    background-image: var(--Check-Background);
}

body.dark .the-button button {
    background-color: var(--dark-List-Background);
}

.the-button button i {
    font-size: 16px;
    color: white;
    opacity: 0;
}

.the-button button.active i {
    font-size: 16px;
    color: white;
    opacity: 1;
}

/* end of special syling */
/* Start of body */
body {
    width: 100%;
    height: 100dvh;
    position: relative;
    background-color: var(--light-App-Background);
}

/* For dark theme */
body.dark {
    background-color: var(--dark-App-Background);
}

.background {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* end of body and background styling */
/* high layer styling */
.high-layer {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* App UI */
.app-ui {
    height: 85%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* app header */
.header {
    background-color: transparent;
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.header h1 {
    color: var(--light-List-Background);
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 40px;
    font-weight: 700;
}

.header i {
    color: var(--light-List-Background);
    font-size: 30px;
    transform: rotate(-20deg);
    cursor: pointer;
}

/* end of header styling */
.todo-creator {
    width: 100%;
    background-color: var(--light-List-Background);
    display: flex;
    justify-self: flex-start;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 5px;
}

body.dark .todo-creator {
    background-color: var(--dark-List-Background);
}

.todo-creator input {
    height: 50px;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    caret-color: var(--Bright-Blue);
    font-size: 20px;
    color: var(--light-Todo-Font-Color);
}

body.dark .todo-creator input {
    color: var(--dark-Todo-Font-Color);
}

.todo-creator input:focus {
    outline: none;
}

.todo-creator input::placeholder {
    color: var(--light-Placeholder-Color);
    font-size: 20px;
}

body.dark .todo-creator input::placeholder {
    color: var(--dark-Placeholder-Color);
}

/* end of todo creator */
/* start of todo list */
.todo-list {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    height: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.todos {
    width: 100%;
    background-color: var(--light-List-Background);
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

body.dark .todos {
    background-color: var(--dark-List-Background);
}

.todo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: solid 1px var(--light-Button-Border);
    background-color: var(--light-List-Background);
}

body.dark .todo {
    border-bottom: solid 1px var(--dark-Done-And-Border-and-filter);
    background-color: var(--dark-List-Background);
}

/* Start of todo button styling */
.todo .todo-button {
    padding: 2px;
    background-image: transparent;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    transition: background-image 1s;
    position: relative;
}

body .todo-button::before,
body.dark .todo-button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 300ms;
    border-radius: 50%;
}

body .todo-button::before {
    background-image: linear-gradient(hsl(236, 33%, 92%), hsl(236, 33%, 92%));
}

body.dark .todo-button::before {
    background-image: linear-gradient(hsl(237, 14%, 26%), hsl(237, 14%, 26%));
}

body .todo-button:hover {
    background-image: linear-gradient(#57ddff, #c058f3);
    transition: .3s;
}

body .todo-button:hover::before {
    opacity: 0;
}

body .todo.done .todo-button::before {
    opacity: 0;
}

/*  */
.todo-button button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--light-List-Background);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.todo.done .todo-button button {
    background-image: var(--Check-Background);
}

.todo.done .todo-button {
    background-image: var(--Check-Background);
}

body.dark .todo-button button {
    background-color: var(--dark-List-Background);
}

.todo-button button i {
    font-size: 16px;
    color: white;
    opacity: 0;
}

.todo.done .todo-button button i {
    font-size: 16px;
    color: white;
    opacity: 1;
}

/* end of todo buttons styling */
.todo p {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: var(--light-Todo-Font-Color);
    overflow-wrap: anywhere;
}

.todo.done p {
    text-decoration: line-through;
    color: var(--light-Done-And-Border-and-filter);
}

body.dark .todo p {
    color: var(--dark-Todo-Font-Color);
}

body.dark .todo.done p {
    text-decoration: line-through;
    color: var(--dark-Done-And-Border-and-filter);
}

.todo .fa-x {
    color: var(--light-Done-And-Border-and-filter);
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
}

body.dark .todo .fa-x {
    color: var(--dark-Done-And-Border-and-filter);
}

.todo .fa-x:hover,
body.dark .todo .fa-x:hover {
    color: red;
}

.todo:hover .fa-x {
    opacity: 1;
}

/* end of todos styling */
/* start of todo footer styling */
.todo-footer {
    width: 100%;
    background-color: var(--light-List-Background);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--light-Button-Border);
}

body.dark .todo-footer {
    background-color: var(--dark-List-Background);
    border-top: 1px solid var(--dark-Done-And-Border-and-filter);
}

.todo-footer span {
    font-size: 17px;
    color: var(--light-Placeholder-Color);
}

body.dark .todo-footer span {
    color: var(--dark-Placeholder-Color);
}

.todo-footer .filter-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.todo-footer .filter-pc span {
    cursor: pointer;
    font-weight: bold;
}

.todo-footer span:last-child:hover,
.todo-footer .filter-pc span:hover {
    color: var(--light-Todo-Font-Color);
}

body.dark .todo-footer span:last-child:hover,
body.dark .todo-footer .filter-pc span:hover {
    color: var(--dark-Todo-Font-Color);
}

.todo-footer .filter-pc span.active {
    color: var(--Bright-Blue);
}

/* end all of desktop styling code */
/* start of mobile styling code */
.filter-mobile {
    display: none;
}

.todos {
    overflow-y: scroll;
}

@media (max-width: 1024px) {
    body .app-ui {
        width: 95%;
        height: 90%;
        gap: 10px;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--Bright-Blue);
        border-radius: 1px;
    }
    .todo-list .todos .todo i.fa-x {
        opacity: 1;
        font-size: 16px;
    }
    
}

@media (max-width: 767px) {

    body .app-ui {
        width: 95%;
        gap: 10px;
    }

    .app-ui .header {
        padding-bottom: 5px;
    }

    .app-ui .header h1 {
        font-size: 30px;
    }

    .todo-creator {
        padding: 5px 15px;
    }

    .todo-creator input {
        font-size: 15px;
    }

    .todo-creator input::placeholder {
        font-size: 15px;
    }

    .todo-list .todos .todo {
        padding: 10px 15px;
    }


    .todo-list .todos .todo p {
        font-size: 15px;
        line-height: 1.5rem;
    }
}

@media (max-width: 600px) {
    .todo-footer .filter-pc {
        display: none;
    }
    body .app-ui{
        height: 95%;
    }
    .filter-mobile {
        display: flex;
        background-color: var(--light-List-Background);
        width: 100%;
        padding: 20px;
        border-radius: 7px;
        justify-content: space-around;
        align-items: center;
    }

    body.dark .filter-mobile {
        background-color: var(--dark-List-Background);
    }

    .filter-mobile span {
        color: var(--light-Placeholder-Color);
        cursor: pointer;
        font-weight: bold;
    }

    body.dark .filter-mobile span {
        color: var(--dark-Placeholder-Color);
    }

    .filter-mobile span.active,
    body.dark .filter-mobile span.active {
        color: var(--Bright-Blue);
    }
}
/* iPhone SE */
@media (max-width: 450px) {
    .todo-creator {
        gap: 15px;
    }

    .the-button {
        padding: 1px;
    }

    .the-button button {
        width: 20px;
        height: 20px;
    }

    .todo .todo-button {
        padding: 1px;
    }

    .todo-button button {
        width: 20px;
        height: 20px;
    }

    .todo-list .todos .todo p {
        font-size: 14px;
    }

    .todo-footer span {
        font-size: 14px;
    }

    .filter-mobile span {
        font-size: 14px;
    }
}
/* iPhone 4 */
@media (max-height: 481px) {
    body .app-ui {
        gap: 5px;
    }

    .app-ui .header h1 {
        font-size: 20px;
    }

    .app-ui .header i {
        font-size: 20px;
    }

    .todo-creator {
        border-radius: 2px;
        padding: 10px;
    }

    .todo-creator input {
        height: 30px;
    }

    .todo-list {
        border-radius: 2px;
    }

    .todo-list .todos .todo {
        padding: 10px;
        gap: 0px;
    }

    .todo-list .todos .todo p {
        font-size: 13px;
        padding: 0px 10px;
    }

    .todo-footer {
        padding: 16px;
    }

    .todo-footer span {
        font-size: 13px;
    }

    .filter-mobile {
        padding: 10px;
        border-radius: 2px;
    }

    .filter-mobile span {
        font-size: 13px;
    }
}

/* for mobile rotation */
@media (max-height: 440px) {
    .todo-creator input {
        height: 20px;
    }
}

@media (max-height: 370px) {
    .todo-creator input {
        height: 20px;
    }
    .todo-footer {
        padding: 5px 10px;
    }
}

@media (max-height: 350px) {
    .todo-creator input {
        height: 20px;
    }
    .the-button {
        padding: 1px;
    }

    .the-button button {
        width: 15px;
        height: 15px;
    }

    .todo .todo-button {
        padding: 1px;
    }

    .todo-button button {
        width: 15px;
        height: 15px;
    }
}


#if-empty{
    color: var(--light-Todo-Font-Color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 100%;
    text-align: center;
}
body.dark #if-empty{
    color: var(--dark-Todo-Font-Color);
}